USE [master]
GO
/****** Object:  Database [Trenitalia]    Script Date: 20/09/2025 18:39:07 ******/
CREATE DATABASE [Trenitalia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trenitalia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trenitalia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trenitalia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Trenitalia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trenitalia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trenitalia]
GO
/****** Object:  Table [dbo].[Treni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treni](
	[TrenoId] [int] IDENTITY(1,1) NOT NULL,
	[CodiceTreno] [nvarchar](50) NOT NULL,
	[TipoTreno] [nvarchar](50) NULL,
	[Capacità] [int] NOT NULL,
	[StatoId] [int] NOT NULL,
	[StazionePartenzaId] [int] NULL,
	[StazioneArrivoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TrenoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orari]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orari](
	[OrariId] [int] IDENTITY(1,1) NOT NULL,
	[TrenoId] [int] NULL,
	[TrattaId] [int] NULL,
	[DataPartenza] [date] NULL,
	[OraPartenza] [time](7) NULL,
	[OraArrivo] [time](7) NULL,
	[StatoCorsa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrariId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passeggeri]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passeggeri](
	[PasseggeroId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Cognome] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Telefono] [nvarchar](50) NULL,
	[CodiceFiscale] [nvarchar](50) NULL,
	[TipoCliente] [nvarchar](50) NULL,
	[IscrizioneProgrammaFedeltà] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PasseggeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biglietti]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biglietti](
	[BigliettoId] [int] IDENTITY(1,1) NOT NULL,
	[PasseggeroId] [int] NULL,
	[OrarioId] [int] NULL,
	[TrenoId] [int] NULL,
	[Prezzo] [decimal](10, 2) NULL,
	[Classe] [nvarchar](50) NULL,
	[Posto] [nvarchar](50) NULL,
	[DataAcquisto] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BigliettoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatoPrenotazioni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatoPrenotazioni](
	[StatoPrenotazioneId] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatoPrenotazioneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prenotazioni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prenotazioni](
	[PrenotazioneId] [int] IDENTITY(1,1) NOT NULL,
	[PasseggeroId] [int] NULL,
	[OrarioId] [int] NULL,
	[StatoId] [int] NULL,
	[Scadenza] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrenotazioneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Dettaglio_Prenotazioni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Dettaglio_Prenotazioni] AS
SELECT 
    p.PasseggeroId,
    p.Nome,
    p.Cognome,
    p.Email,
    o.DataPartenza,
    o.OraPartenza,
    o.OraArrivo,
    t.CodiceTreno,
    t.TipoTreno,
    b.Prezzo,
    b.Classe,
    b.Posto,
    pr.Scadenza,
    sp.Descrizione AS StatoPrenotazione
FROM 
    Prenotazioni pr
JOIN 
    Passeggeri p ON pr.PasseggeroId = p.PasseggeroId
JOIN 
    Orari o ON pr.OrarioId = o.OrariId
JOIN 
    Treni t ON o.TrenoId = t.TrenoId
JOIN 
    StatoPrenotazioni sp ON pr.StatoId = sp.StatoPrenotazioneId
JOIN 
    Biglietti b ON pr.PasseggeroId = b.PasseggeroId;
GO
/****** Object:  Table [dbo].[StatoTreno]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatoTreno](
	[StatoId] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manutenzioni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manutenzioni](
	[ManutenzioneId] [int] IDENTITY(1,1) NOT NULL,
	[TrenoId] [int] NULL,
	[DataInizio] [date] NULL,
	[DataFine] [date] NULL,
	[Tipo] [nvarchar](50) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManutenzioneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StatoTrenoManutenzione]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StatoTrenoManutenzione] AS
SELECT 
    t.CodiceTreno,
    t.TipoTreno,
    st.Descrizione AS StatoTreno,
    m.DataInizio AS ManutenzioneInizio,
    m.DataFine AS ManutenzioneFine,
    m.Tipo AS TipoManutenzione,
    m.Note AS NoteManutenzione
FROM 
    Treni t
JOIN 
    StatoTreno st ON t.StatoId = st.StatoId
LEFT JOIN 
    Manutenzioni m ON t.TrenoId = m.TrenoId;
GO
/****** Object:  Table [dbo].[Abbonamento]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abbonamento](
	[ClienteId] [int] NOT NULL,
	[PuntiFedeltà] [int] NULL,
	[Livello] [nvarchar](50) NULL,
	[Aggiornamento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPagamento]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPagamento](
	[MetodoPagamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MetodoPagamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamenti]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamenti](
	[PagamentoId] [int] IDENTITY(1,1) NOT NULL,
	[BigliettoId] [int] NULL,
	[MetodoPagamentoId] [int] NULL,
	[DataPagamento] [datetime] NULL,
	[StatoPagamentoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PagamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personale]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personale](
	[PersonaleId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Cognome] [nvarchar](255) NOT NULL,
	[Ruolo] [nvarchar](50) NULL,
	[TrenoId] [int] NULL,
	[Turno] [nvarchar](50) NULL,
	[DataAssunzione] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatiPagamento]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatiPagamento](
	[StatoPagamentoId] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatoPagamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stazioni]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stazioni](
	[StazioneId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Città] [nvarchar](255) NOT NULL,
	[Regione] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StazioneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratte]    Script Date: 20/09/2025 18:39:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratte](
	[TrattaId] [int] IDENTITY(1,1) NOT NULL,
	[StazPartenzaId] [int] NULL,
	[StazArrivoId] [int] NULL,
	[DistanzaKm] [int] NULL,
	[DurataStimata] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrattaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Biglietti_DataAcquisto]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [Biglietti_DataAcquisto] ON [dbo].[Biglietti]
(
	[DataAcquisto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Biglietti_Orario]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [Biglietti_Orario] ON [dbo].[Biglietti]
(
	[OrarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Orari_DataPartenza]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [Orari_DataPartenza] ON [dbo].[Orari]
(
	[DataPartenza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Passeggeri_Email]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [Passeggeri_Email] ON [dbo].[Passeggeri]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Tratte_StazionePartenzaArrivo]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [Tratte_StazionePartenzaArrivo] ON [dbo].[Tratte]
(
	[StazPartenzaId] ASC,
	[StazArrivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CodiceTreno]    Script Date: 20/09/2025 18:39:07 ******/
CREATE NONCLUSTERED INDEX [CodiceTreno] ON [dbo].[Treni]
(
	[CodiceTreno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abbonamento]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Passeggeri] ([PasseggeroId])
GO
ALTER TABLE [dbo].[Biglietti]  WITH CHECK ADD FOREIGN KEY([OrarioId])
REFERENCES [dbo].[Orari] ([OrariId])
GO
ALTER TABLE [dbo].[Biglietti]  WITH CHECK ADD FOREIGN KEY([PasseggeroId])
REFERENCES [dbo].[Passeggeri] ([PasseggeroId])
GO
ALTER TABLE [dbo].[Biglietti]  WITH CHECK ADD FOREIGN KEY([TrenoId])
REFERENCES [dbo].[Treni] ([TrenoId])
GO
ALTER TABLE [dbo].[Manutenzioni]  WITH CHECK ADD FOREIGN KEY([TrenoId])
REFERENCES [dbo].[Treni] ([TrenoId])
GO
ALTER TABLE [dbo].[Orari]  WITH CHECK ADD FOREIGN KEY([TrattaId])
REFERENCES [dbo].[Tratte] ([TrattaId])
GO
ALTER TABLE [dbo].[Orari]  WITH CHECK ADD FOREIGN KEY([TrenoId])
REFERENCES [dbo].[Treni] ([TrenoId])
GO
ALTER TABLE [dbo].[Pagamenti]  WITH CHECK ADD FOREIGN KEY([BigliettoId])
REFERENCES [dbo].[Biglietti] ([BigliettoId])
GO
ALTER TABLE [dbo].[Pagamenti]  WITH CHECK ADD FOREIGN KEY([MetodoPagamentoId])
REFERENCES [dbo].[MetodoPagamento] ([MetodoPagamentoId])
GO
ALTER TABLE [dbo].[Pagamenti]  WITH CHECK ADD  CONSTRAINT [FK_Pagamenti_StatoPagamento] FOREIGN KEY([StatoPagamentoId])
REFERENCES [dbo].[StatiPagamento] ([StatoPagamentoId])
GO
ALTER TABLE [dbo].[Pagamenti] CHECK CONSTRAINT [FK_Pagamenti_StatoPagamento]
GO
ALTER TABLE [dbo].[Personale]  WITH CHECK ADD FOREIGN KEY([TrenoId])
REFERENCES [dbo].[Treni] ([TrenoId])
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD FOREIGN KEY([OrarioId])
REFERENCES [dbo].[Orari] ([OrariId])
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD FOREIGN KEY([PasseggeroId])
REFERENCES [dbo].[Passeggeri] ([PasseggeroId])
GO
ALTER TABLE [dbo].[Prenotazioni]  WITH CHECK ADD FOREIGN KEY([StatoId])
REFERENCES [dbo].[StatoPrenotazioni] ([StatoPrenotazioneId])
GO
ALTER TABLE [dbo].[Tratte]  WITH CHECK ADD FOREIGN KEY([StazArrivoId])
REFERENCES [dbo].[Stazioni] ([StazioneId])
GO
ALTER TABLE [dbo].[Tratte]  WITH CHECK ADD FOREIGN KEY([StazPartenzaId])
REFERENCES [dbo].[Stazioni] ([StazioneId])
GO
ALTER TABLE [dbo].[Treni]  WITH CHECK ADD FOREIGN KEY([StatoId])
REFERENCES [dbo].[StatoTreno] ([StatoId])
GO
ALTER TABLE [dbo].[Treni]  WITH CHECK ADD  CONSTRAINT [FK_StazioneArrivo] FOREIGN KEY([StazioneArrivoId])
REFERENCES [dbo].[Stazioni] ([StazioneId])
GO
ALTER TABLE [dbo].[Treni] CHECK CONSTRAINT [FK_StazioneArrivo]
GO
ALTER TABLE [dbo].[Treni]  WITH CHECK ADD  CONSTRAINT [FK_StazionePartenza] FOREIGN KEY([StazionePartenzaId])
REFERENCES [dbo].[Stazioni] ([StazioneId])
GO
ALTER TABLE [dbo].[Treni] CHECK CONSTRAINT [FK_StazionePartenza]
GO
USE [master]
GO
